<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ============= FAVICON =============-->
    <link rel="shortcut icon" href="" type="image/x-icon" />

    <!-- ============= CSS =============-->

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='estilo/resultados.css')}}"
    />

    <title>Elanco | Resultado Zimprova™</title>
  </head>
  <body>
    <!-- ============= HEADER =============-->
    <header class="header">
      <div class="header__conteiner container">
        <img src="{{url_for('static', filename='logo.png')}}" alt="" />
      </div>
    </header>

    <!-- ============= MAIN =============-->
    <main class="main">
      <!-- ============= HOME =============-->
      <section class="section home">
        <div class="home__container container grid">
          <div>
            <h1 class="home__title" style="color: #791600">
              Teste Zimprova<span style="font-size: 17px; vertical-align: top"
                >™
              </span>
              concluído!
            </h1>
            <h2 class="home__subtitle">
              Você pode faturar mais com o Zimprova<span
                style="font-size: 17px; vertical-align: top"
                >™</span
              >!
            </h2>

            <div class="home__content">
              <img
                src="{{url_for('static', filename='sacariaresultados.png')}}"
                alt=""
              />

              <div>
                <!--<h2 class="home__zimprova">ZIMPROVA™</h2>-->
                <h2 style="color: #791600; font-size: 2.5rem">
                  Zimprova<span style="font-size: 17px; vertical-align: top"
                    >™</span
                  >
                </h2>
                <p class="home__description">
                  Prova que produzir<br />
                  mais também é<br />
                  sustentável!
                </p>
              </div>
            </div>
          </div>

          <div id="bk">
            <div class="inner"></div>
            <div class="box__header">
              <h3 style="color: #0075bc">
                Olá, {{lista_contato_res ['Nome']}}!<br />Esse é o resultado do
                seu teste.
              </h3>
            </div>

            <div class="box__content grid">
              <div>
                <h4 style="color: #0075bc">
                  Peso Inicial Informado: {{lista_atual_res['pesoInicial']}} kg;
                </h4>
                <p>
                  Atualmente, seu
                  <span class="font__medium">ganho médio diário</span> é de
                  <span class="font__medium">{{lista_atual_res['gmd']}} g</span
                  >, com o Zimprova<span
                    style="font-size: 10px; vertical-align: top"
                    >™</span
                  >,
                  <span class="font__medium"
                    >seria de {{lista_zimprova_res['gmd']}} g</span
                  >, gerando até
                  <span class="font__medium"
                    >{{lista_zimprova_res['ganhoPeso']}} kg</span
                  >
                  a mais no período, com peso
                  <span class="font__medium"
                    >final por cabeça de {{lista_zimprova_res['pesoFinal']}}
                    kg</span
                  >, {{lista_zimprova_res['ganhoPeso%']}} % a mais do que {% if
                  dados['Aditivo utilizado'] == "Sem Aditivo" %} sem aditivo. {%
                  else %} com o aditivo {{dados['Aditivo utilizado']}}. {%endif
                  %}
                </p>
              </div>
              <p>
                Atualmente, você produz
                <span class="font__medium">
                  {{lista_atual_res['producaoArroba']}} arrobas por cabeça</span
                >, totalizando
                <span class="font__medium"
                  >{{lista_atual_res['producaoTotalArroba']}} arrobas</span
                >. Mas com o Zimprova<span
                  style="font-size: 10px; vertical-align: top"
                  >™</span
                >, seu potencial é de
                <span class="font__medium">
                  {{lista_zimprova_res['producaoArroba']}} arrobas por
                  cabeça</span
                >, totalizando
                <span class="font__medium"
                  >{{lista_zimprova_res['producaoTotalArroba']}} arrobas, um
                  resultado {{lista_zimprova_res['ganhoArroba%']}} % maior</span
                >.
              </p>
              <div>
                <h4 style="color: #0075bc">Vamos falar de lucro?</h4>
                <p>
                  A receita produzida com base nas suas informações é de
                  <span class="font__medium"
                    >R$ {{lista_atual_res['receitaProduzida']}}</span
                  >, mas
                  <span class="font__medium"
                    >com Zimprova<span
                      style="font-size: 10px; vertical-align: top"
                      >™</span
                    >, seria de R$ {{lista_zimprova_res['receitaProduzida']}},
                    que é {{lista_zimprova_res['aumentoReceita']}} % maior</span
                  >.
                </p>
              </div>
              <p>
                Para gerar tudo isso, o Zimprova<span
                  style="font-size: 10px; vertical-align: top"
                  >™</span
                >
                te custaria em torno de
                <span class="font__medium"
                  >R$ {{lista_zimprova_res[ 'desembolsoAdicional']}}</span
                >, ou seja, seu
                <span class="font__medium"
                  >Lucro Líquido seria de R$
                  {{lista_zimprova_res['lucroLiquido']}}</span
                >.
              </p>
              <p>
                <span class="font__medium"
                  >O investimento em Zimprova<span
                    style="font-size: 10px; vertical-align: top"
                    >™</span
                  >
                  te retornará em média R$ {{lista_zimprova_res['ROI']}} a cada
                  R$ 1,00 investido</span
                >.
              </p>
            </div>
            <br />

            <!--   <div class="box__content">
              <i
                ><p style="font-size: 13px">
                  Os cálculos foram desenvolvidos por nossos especialistas
                  baseados no período das águas comparando os 

s
                  mencionados. O Zimprova<span
                    style="font-size: 10px; vertical-align: top"
                    >™</span
                  >
                  possui mais de 18 estudos publicados que comprovam sua
                  eficácia. Pode confiar!
                </p></i
              ><br />
              <i
                ><p style="font-size: 13px">
                  Obs: a Elanco se isenta de qualquer responsabilidade de
                  investimentos com base nessas informações.
                </p></i
              >
            </div>-->
          </div>
        </div>

        <div class="home__action container grid">
          <!-- <h2 class="home__title" style="margin: 40px 0px 0px 0px">
            PROCURE POR PRODUTOS ADITIVADOS COM TECNOLOGIA ELANCO
            <br /><br />Zimprova<span
              style="font-size: 17px; vertical-align: top"
              >™</span
            >
            Está presente em todo o Brasil. <br /><span style="font-size: 20px"
              >Peça para o seu fornecedor de suplementos.</span
            >
          </h2>-->
          <h2 class="home__title" style="margin: 40px 0px 0px 0px">
            QUER CONHECER MAIS SOBRE O Zimprova<span
              style="font-size: 17px; vertical-align: top"
              >™</span
            >?
          </h2>

          <a
            class="button"
            href="https://agropecuaria.elanco.com/br/produtos/corte/zimprova"
            target="_blank"
            >Visite o site</a
          >
        </div>
      </section>
    </main>

    <!-- ============= FOOTER =============-->
    <footer class="footer">
      <div class="footer__container container grid">
        <img src="{{url_for('static', filename='logo-footer.png')}}" alt="" />

        <p style="font-size: 14px; color: white">
          Essa calculadora é um simulador baseado em cálculos desenvolvidos pelo
          compilado de estudos publicados na biografia referenciada. Importante
          ressaltar que os cálculos são baseados em estudos desenvolvidos no
          período das águas. Os resultados do simulador são meramente
          informativos e a Elanco se isenta de qualquer responsabilidade de
          investimento baseado nessas informações. É essencial que se faça uma
          análise mais abrangente antes de tomar qualquer decisão de
          investimento.
        </p>

        <p class="footer__copyright" style="text-align: center">
          Zimprova™, Elanco e o logotipo da barra diagonal são marcas
          registradas da Elanco ou de suas filiais © 05/2023.<br />
          Todos os direitos reservados. PM-BR-23-0152
        </p>
      </div>
    </footer>
  </body>
</html>
